@media (min-width:769px) {
.modal-dialog {
  display: flex;
  max-width: 800px;
  height:auto;
  flex-direction:column;
  justify-content: center; 
  padding-top:150px;
  margin: auto;
} 

.modal-content {
  /* width: 100%; */
  border:2px;
  justify-content: center;
  margin:auto;
}
.modal-header  {
  height:17px;
  padding:0px;
  background-color:rgb(221, 221, 221);
  border:none;
} 

.modal-header .close {
  padding: 1rem ;
  margin: -1.2rem -0.5rem -1rem auto;
}

.modal-body {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color:rgb(221, 221, 221);
  padding: 0.5rem;
  /* padding-right:3px;
  padding-left:3px; */
}

.modal-footer {
  height:3px;
  padding:0px;
  background-color:rgb(221, 221, 221);
  /* border:none; */
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
}

@media (max-width: 850px ) and (orientation: landscape) {
  .modal-dialog {
    display:flex;
    flex:1;
    margin:auto;
    max-width:500px;
    padding-top:35px;
  }
  .modal-header {
    height:10px;
    border:none;
    padding:0px;
    background-color:rgb(221, 221, 221);
  }
  .modal-header .close {
    padding: 0.5rem ;
    margin: -1.2rem -0.5rem -1rem auto;
  }
  .modal-body{
    background-color:rgb(221, 221, 221);
  }
  .modal-footer {
    background-color:rgb(221, 221, 221);
    border: none;
    height:5px;
    padding:0px;
  }
}

@media (max-width: 480px ) and (orientation: portrait) {
  .modal-dialog {
    display:flex;
    flex:1;
    max-width: 330px;
    padding-top:220px;
    height: auto;
    color:black;
    font-weight:bold;
    margin:auto;
    overflow: hidden;
  }
  .modal-header {
    height:17px;
    border:none;
    background-color:rgb(221, 221, 221);
  }
}
