@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

@media screen and (min-width:1400px) {
    .News {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: flex; */
        padding-top:5px;
        padding-bottom:5px;
        font-family: Montserrat;  
    }
    .newsTitle {
        display: flex;
        width:100%;
        align-items: center;
        padding-bottom:5px;
        padding-right:10px;
    }
    .newsTitle span {
        color:black;
        padding-bottom:5px;
        margin-right: 1px;
        margin:auto;
        padding-top:5px;
        font-family: 'Montserrat';
    }

    .newsCarousel {
        display: flex;
    }  
    .newsItem {
        margin-bottom: 13%;
    }

    .pozaModalNews {
        max-width:70%;
        max-height:100%;
        margin-left: 15%;
        border-radius:7px;
        aspect-ratio: 16/9;
    }

    .newsText  {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* padding-top:15px; */
        color:black;
        margin:auto;
        bottom:auto;
        text-align: center;
    }
    .newsText span {
        font-size:1rem;
        color :rgb(0, 0, 0);
        display: flex;
        font-weight: bold;
        font-family: 'Montserrat';
    }
    .newsText p {
        font-size:1rem;
        color :rgb(0, 0, 0);
        display: inline-flex;
        font-family: 'Montserrat';
    }

    
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width:25px;
        height:25px;
    }

    .carousel-control-next ,.carousel-control-prev {
        height:50%;
        margin:auto;
    }
    
    .bodyCard {
        text-align:center;
        border: none;
        margin: auto;
        background-color:rgb(221, 221, 221);
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .News {
        display:flex;
        background-color:rgb(221, 221, 221);
        flex-direction:column;
        font-family: Montserrat; 
    }

    .newsTitle {
        padding-bottom:10px;
        padding-top:7px;
        display: flex;
        flex-direction:row;
        justify-content:center;
    }

    .newsTitle span {
        font-family: Montserrat;
        font-weight: bold;
    }

    .newsCarousel {
        padding-top:10px;
        display:flex;
        flex-direction:column;
        height:300px;
    }

    .pozaModalNews {
        max-width:70%;
        max-height:100%;
        margin-left:15%;
        border-radius:7px;
        display:flex;
        align-items: center;
        overflow: hidden;
    }

    .newsCarousel .carousel-inner{
        margin-bottom: 5px;
        overflow:hidden;
    }
    /* .carousel-indicators {
        margin:5px;
    } */
    .newsCarousel .carousel-indicators li{
        margin-bottom:-12px;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        border:1.5px solid white;
        background-color:black;
    }

    .newsItem {
        margin-bottom:150px;
    }

    .newsText {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content:initial;
        align-items: center;
        bottom: auto;
        z-index: 10;
        padding-bottom: 10px;
        padding-top:10px;
        color:black;
        text-align: center;
    }
    .newsText span {
        color :black;
        font-family: 'Montserrat';
        font-weight: bold;
    }
    .newsText p {
        color:black;
        font-family: 'Montserrat';
    }
    .carousel-control-next, .carousel-control-prev {
        height:9%;
        margin-top: 100px;
    }

    .bodyCard {
        text-align:center;
        border: none;
        margin: auto;
        width:20rem;
        background-color:rgb(221, 221, 221);
    }
}

@media screen and (min-width: 481px) and (max-width: 900px )  {
    .News {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2px;
        padding-bottom: 2px;
        font-family: Montserrat;
    }
    .newsTitle {
        display: flex;
        flex-direction:row;
        justify-content:center;
        padding-bottom: 7px;
    }
    .newsTitle span {
        font-family: Montserrat;
        font-weight: bold;
    }
    .newsCarousel {
        display:flex;
        height:220px;
        flex-direction:row;
    }
    .newsText {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* padding-top: 15px; */
        color: black;
        margin: auto;
        bottom: auto;
        text-align: center;
    }
    .newsText span {
        font-size: 1rem;
        color: rgb(0, 0, 0);
        display: flex;
        font-weight: bold;
        font-family: 'Montserrat';
    }
    .newsText p {
        font-size: 1rem;
        color: rgb(0, 0, 0);
        display: inline-flex;
        font-family: 'Montserrat';
    }

    .pozaModalNews {
        border-radius:5px;
        width:53%;
        margin-left:108.5px;
    }

    .newsItem {
        margin-bottom: 13%;
        padding-top: 8px;
    }

    .newsCarousel .carousel-inner{
        margin-bottom: 10px;
        margin-top: -10px;
        overflow:hidden;
        font-size:12px;
    }
    .carousel-indicators {
        margin:auto;
    }
    .carousel-indicators li{
        width: 7px;
        height: 7px;
        border-radius: 100%;
        border:1.5px solid white;
        background-color:black;
    }

    .newsCarousel .carousel-control-next  {
        height: 50%; 
        padding-bottom: 15px;
    }

    .newsCarousel .carousel-control-prev {
        height: 50%; 
        padding-bottom: 15px;
    }

    .newsText {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        color: black;
        margin: auto;
        bottom: auto;
        text-align: center;
    }

    .newsText span {
        color :black;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: bold;
        
    }

    .newsText p {
        margin-bottom:1px;
        font-size: 14px;
        color: rgb(0, 0, 0);
        display: inline-flex;
        font-family: 'Montserrat';
    }

    .bodyCard {
        text-align:center;
        border: none;
        margin: auto;
        background-color:rgb(221, 221, 221);
    }

}
@media screen and (min-width: 900px) and (max-width: 1399px )  {
    .News {
        display:flex;
        flex-direction:column;
        background-color:rgb(221, 221, 221);
        height:auto;
        padding-top:10px;
        overflow:scroll;
        font-family: Montserrat; 
        align-items: center;
        padding-bottom: 5px;
    }
    .newsTitle {
        display: flex;
        flex-direction:row;
        justify-content:center;
    }
    .newsTitle span {
        font-weight: bold;
    } 
    .newsCarousel {
        display:flex;
    }
    .newsItem {
        margin-bottom:110px;
    }
    .newsCarousel .carousel-indicators {
        margin:auto;
    }
    .newsText {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: black;
        margin: auto;
        bottom: auto;
        text-align: center;
    }
    .newsText span {
        font-size: 1rem;
        color: rgb(0, 0, 0);
        display: flex;
        font-weight: bold;
        font-family: 'Montserrat';
    }
    .newsText p {
        font-size: 1rem;
        color: rgb(0, 0, 0);
        display: inline-flex;
        font-family: 'Montserrat';
    }
    .pozaModalNews {
        max-width:78%;
        max-height:100%;
        margin-top:11px;
        margin-left:11%;
        border-radius:7px;
        display:flex;
        align-items: center;
        overflow: hidden;
    }
}