@media screen and (min-width:1025px) {
    .NEWS {
        display: flex;
        flex-direction: column;
    }
    .NEWS ol  {
        margin-top:1em;
        /* margin-bottom:0; */
        /* margin:auto; */
        align-self: center;
        padding-left:20px;
    }
    .NEWS li {
        margin-top:10px;
    }
    .newsContainer {
        padding:1em;
        margin-right:15px;
        /* width:75%; */
    }
    .newsContainer img {
        max-width:20%;
        max-height:20%;
        border-radius: 7px;
        object-fit: cover;
    }
    .jumbotron {
        margin-bottom:0;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px)  {
    .NEWS {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        height: 650px;
        justify-content: center;
        align-self: center;
    }
    .NEWS ol  {
        padding:initial;
        margin:auto;
        padding-bottom: 60px;
        max-height:650px;
        /* margin-top:3px; */
        /* margin-bottom:3px; */
        /* margin:auto; */
        align-self: center;
        /* padding-left:23px; */
        display: flex;
        flex-direction:column;
        margin-block-start: 3px;
        margin-block-end: 3px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 10px;
    }
    .NEWS li {
        padding-top: 3px;
        padding-right: 4px;
        /* border-bottom:1px solid black;
        border-radius:5px; */
    }
    .newsContainer {
        padding-bottom: 10px;
        margin-right: 6px;
        margin-bottom: 10px;
        height: 31vh;
    }
    .newsContainer img {
        max-width:20%;
        max-height:20%;
        border-radius: 7px;
        object-fit: cover;
    }
    .jumbotron {
        margin-bottom:3px;
        padding:10px;
    }
    .NEWS p {
        margin:0px;
    }
}
@media screen and (min-width: 481px) and (max-width: 1024px ) {
    .NEWS {
        display: flex;
        flex-direction: column;
        /* max-height: 100vh; */
    }
    .NEWS ol  {
        margin-top:1em;
        /* margin-bottom:0; */
        /* margin:auto; */
        align-self: center;
        padding-left:20px;
    }
    .NEWS li {
        margin-top:10px;
    }
    .newsContainer {
        padding:1em;
        margin-right:15px;
        /* width:75%; */
    }
    .newsContainer img {
        max-width:20%;
        max-height:20%;
        border-radius: 7px;
        object-fit: cover;
    }
    .jumbotron {
        margin-bottom:0;
    }
}
