@media screen and (min-width:1025px) {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

    .App {
        background-image:url("./assets/Background/desktopBackground.png");
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat';
    }
    
    .body {
        flex:8;
        width:100%;
        height:100%;
    }

    .footer {
        flex:1;
        width:100%;
        height:100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px)  {
    .App {
        background-image :url("./assets/Mobile/desktopMobile.png");
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        height:100vh;
        text-align: center;
        font-family: 'Montserrat';
    }

}

@media screen and (min-width: 481px) and (max-width: 1024px ) {
    .App {
        background-image:url("./assets/Background/desktopBackground.png");
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        background-size: cover;
        height: 100vh;
        width:100vw;
        overflow: hidden;
        justify-content: space-between;
        text-align: center;
        font-family: 'Montserrat';
    }

    
}